# top-most EditorConfig file
root = true

# All files adhere to the following settings
# Settings can be overwritten per file extenstion
[*]
indent_style = space
indent_size = 2
charset = utf-8
end_of_line = lf
insert_final_newline = true
