// ----------------------------------------------------------------------------
// Thumbnails
// Project links
// ----------------------------------------------------------------------------

// Import settings
@import 'styles/settings';

.Thumbnail {
  margin-bottom: 4em;
}

.Thumbnail-items {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 -.5em;
  padding: 0;
}

.Thumbnail-item {
  flex: 1 1 auto;
  height: 15em;
  margin: .5em;
  width: calc(50% - 1em);

  @include mq($from: 'tablet') {
    flex: 0 1 em(325px);
    height: 20em;
  }
}

.Thumbnail-link {
  align-items: center;
  border-radius: em(4px);
  border-bottom-width: em(2px);
  display: flex;
  justify-content: center;
  padding: 3em;
  height: 100%;
  text-align: center;
}

.Thumbnail-img {
  display: block;
  height: em(100px);
  width: em(100px);

  @include mq($from: 'tablet') {
    font-size: 1.25em;
  }

  > svg {
    display: block;
    height: 100%;
    width: 100%;
  }
}

@each $project, $color in get($colors, 'projects') {
  .Thumbnail-#{$project} {
    background-color: $color;
  }

  @if $project != 'enterprisecloudworks' {
    .Thumbnail-img-#{$project} > svg {
      fill: get($colors, 'white', 'base');
    }
  }
}
