/**
 * [1] Percentage is used for better a11y and scalability.
 * Project uses \`em\` CSS units. Using a percentage value
 * allows users to override \`font-size\` with their browser settings.
 */
:root {
  --app-primary-font-family: 'Azeret Mono', monospace;
  --app-background-color: hsla(0, 0, 100, 1);
  --app-font-weight: 400;
  --app-line-height: 1.65;
  --app-text-color: hsla(218, 22, 20, 1);

  --app-font-scaler: 100%; /* [1] */
  --heading1-font-size: 2.027em;
  --heading2-font-size: 1.802em;
  --heading3-font-size: 1.602em;
  --heading4-font-size: 1.424em;
  --heading5-font-size: 1.266em;
  --heading6-font-size: 1.125em;
  --small-font-size: 0.889em;

  --heading1-font-weight: 800;
  --heading-font-weight: 600;
  --heading-line-height: 1.15;
  --heading-margin-block-end: 1.05rem;
  --heading-margin-block-start: 2.75rem;
  --paragraph-margin-block-end: 1.15rem;
}

.azeret-mono {
  font-family: var(--app-primary-font-family);
  font-optical-sizing: auto;
  font-weight: var(--app-font-weight);
  font-style: normal;
}

body {
  background-color: var(--app-background-color);
  color: var(--app-text-color);
  font-size: var(--app-font-scaler);
  line-height: var(--app-line-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-line-height);
  margin-block-end: var(--heading-margin-block-end);
  margin-block-start: var(--heading-margin-block-start);
}

h1 {
  font-size: var(--heading1-font-size);
  font-weight: var(--heading1-font-weight);
}

h2 {
  font-size: var(--heading2-font-size);
}

h3 {
  font-size: var(--heading3-font-size);
}

h4 {
  font-size: var(--heading4-font-size);
}

h5 {
  font-size: var(--heading5-font-size);
}

h6 {
  font-size: var(--heading6-font-size);
}

p {
  margin-block-end: var(--paragraph-margin-block-end);
}

small {
  font-size: var(--small-font-size);
}
