// ----------------------------------------------------------------------------
// 404
// Random 404 page
// ----------------------------------------------------------------------------

// Import settings
@import 'styles/settings';

.NotFound {
  margin-bottom: 4em;
  margin-top: 4em;
}

.NotFound-img {
  border-radius: em(2px);
  display: block;
  height: auto;
  max-width: 100%;
}

.NotFound-message {
  font-size: 1.25em;
}