.img {
  display: inline-block;
  block-size: 1em;
  margin-inline-end: ${em(4)};
  transform: translateY(${em(-2)});
  vertical-align: middle;
  inline-size: 1em;
}

.name {
  display: inline-block;
}
